@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models

@{
         var content = (ContentModels.HomeSlider)Model.Content;
         var ContactsHeaderImg = content.Value<MediaWithCrops>("homeSliderImage");
    
}

		    
        <div class="hero-slider-item hero-bg-1"  style="background-image:url(@ContactsHeaderImg?.MediaUrl())">
            <div class="container">
                <div class="hero-content">
                    <div class="section-heading">
                        <h2 class="section__title text-white fs-65 lh-80 pb-3">
                            @content.Value("homeSliderHeader")
                        </h2>
                        <p class="section__desc text-white pb-4">
                            @content.Value("homeSliderDesc")
                            
                        </p>
                    </div>
                    <!-- end section-heading -->
                    <div class="hero-btn-box d-flex flex-wrap align-items-center pt-1" 
>
                        <a href="admission.html" class="btn theme-btn me-4 mb-4">
                            @content.Value("homeSliderJoinButton") <i class="la la-arrow-right icon ms-1"></i>
                        </a>
                        <a href="#"
                           class="btn-text video-play-btn mb-4"
                           data-fancybox
                           data-src="https://www.youtube.com/watch?v=cRXm1p-CNyk">
                            Watch Preview<i class="la la-play icon-btn ms-2"></i>
                        </a>
                    </div>
                    <!-- end hero-btn-box -->
                </div>
                <!-- end hero-content -->
            </div>
            <!-- end container -->
        </div>
        <!-- end hero-slider-item -->
      